
*{
  margin: 0;
 padding:0 ;
 box-sizing: content-box;
}
body{
  background-image: url("https://wallpapercave.com/wp/wp6072567.jpg");
 background-repeat:no-repeat ;
 background-size: cover;

}

.navBar{
  display: flex;
  width: 100%;
  height: 7vh;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;

}
.leftBar{
}
.rightBar{
display: flex;
width: 20%;
flex-direction: row;
padding: 15px;
align-items: center;
justify-content: space-around;
}
.navBtn{
  height: 30px;
  width: 90px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: 0;
  border-radius: 4px;

}
#signUp{
  background-color: black;
  color: white;
}
.navBtn:hover{
  box-shadow:2px 2px rgb(199, 199, 199);
}

form{
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-inline: 30%;
 height: 50vh;
  width: 70vh;
  align-items: center;
  justify-content: space-around;
}
.inputField{
  display: flex;
  background-color:white;
  width: 70vh;
  height: 7vh;
  border-radius: 2px;
  box-shadow: 2px 2px 4px 0px  black;
align-items: center;
}
.inputField label{
display: flex;
width: 15vh;
height: 4vh;
border-radius: 2px;
margin-inline: 10px;
background-color: black;
color: white;
font-size: small;
align-items: center;
justify-content: center;
}

.inputField input{
border: none;

}
.signBtn{
  width: 12vh;
  height: 4vh;
  border-radius: 2px;
  font-weight: 600;
  color: white;
  background-color: black;
  border: 2px solid white;
}
.signBtn:hover{
  background-color: #282c34;
}
